{% extends "templates/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-xl-12">
  <div style="margin-left:16px"><br><h3>{{title}}</h3></div>


      <div class="card-body">
          <div class="">
          <div style="background-color: #f8f9fa">
            <table id="tabContas" class="display" style="width:100%">
              <thead>
                <tr>
                  <th>Ação</th>
                  <th>ID</th>
                  <th>Descrição</th>
                  <th>Valor (R$)</th>
                  <th>Data de Vencimento</th>
                  <th>Data de Recebimento</th>
                  <th>Cliente</th>
                </tr>
              </thead>
              <tbody>
                {% for reg in data %}
                  <tr>
                    <td>
                      <a href="/contas/viewContas/{{ reg.contasid }}" title="Visualizar">
                        <i class="fas fa-search"></i>
                      </a>
                    </td>  
                    <td>{{ reg.contasid }}</td>
                    <td>{{ reg.descricao }}</td>
                    <td>{{ reg.valor | round(2) }}</td>
                    <td>{{ reg.dtavencimento }}</td>
                    <td>{{ reg.dtarecebimento }}</td>
                    <td>{{ reg.nomerazaosocial }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    window.onload = function () {
      windowOnLoad();

      const localErro = "{{erro}}";
      if (localErro != "") {
        alert("[vwContas|onload] Servidor retornou o erro: " + localErro);
      }

      new DataTable('#tabContas');
    };
  </script>

{% endblock %}